language: node_js

node_js:
  - "0.8"
  - "0.10"
  - "0.11"

matrix:
  allow_failures:
    - node_js: "0.11"

before_install: "npm -g install npm"
before_script: "ln -s .. node_modules/bem && ls -la node_modules && git submodule init && git submodule update"
