language: node_js

node_js:
  - 0.6
  - 0.8
  - 0.9
  - 0.10

matrix:
  allow_failures:
    - node_js: 0.9

before_script: "ln -s .. node_modules/bem && ls -la node_modules && git submodule init && git submodule update"
