.b-link_inner_yes:link,
.b-link_inner_yes:hover,
.b-link_inner_yes:visited
{
    text-decoration: none;
}

.b-link_inner_yes .b-link__inner
{
    text-decoration: underline;

    color: inherit;
}

.b-link_inner_yes .b-icon
{
    vertical-align: middle;

    margin-right: 5px;
}